body {
  width: 100%;
  font-size: 14px;
  background-color: burlywood;
}

.container {
  margin-top: 50px;
}

.list-group-item {
  cursor: pointer;
}

.correct {
  background-color: #289a27;
}

.incorrect {
  background-color: #c41a21;
}

.buttons {
  padding: 10px 10px 10px 0;
  margin: 30px;
}
form{
  margin-left: 50px;
  margin-right:50px;
  margin-top: 50px;
}
.main-container{
  padding: 10px;
  margin: 10px auto;
}
.right-side{
  text-align: center;
}

.side-bar-contact-element{
  text-align: center;
  font-size: 50px;
  margin-top: 15px;
}

.stopka{
  position: absolute;
  background-color: #303030;
  color: #FFF;
  height: 2.5rem;
  padding: 10px;
  text-align: center;
  width:100%;
}

.scroll {
  position: fixed;
  bottom: 30px;
  right: 30px;
  display: none;
}

navbar{
  padding: 0;
  background-color: burlywood;
}

selectize{
  text-align: center;
  width: 800px;
  height: 500px;
}

.center{
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 10px;
}

.bar{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  margin-bottom: 10px;
}


